@use "variables";

@mixin box($paddingh: 3px) {
    font-size: 0.8em;
    border: 3px solid #b8ae98;
    background: #d7caaf;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px $paddingh;
}

@mixin mod-box($paddingh: 3px) {
    @include box($paddingh);

    color: variables.$redColor;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 1.2em;
}

@mixin red-label($paddingh: 3px) {
    @include box($paddingh);

    font-weight: 700;
    background: #d6c086;
    border-color: variables.$redColor;
}
