@use "variables";

.popup.alert {
    .main {
        position: fixed;
        top: 40%;
        height: auto;
        width: 70%;
        left: 15%;
        background: white;
        border: 2px solid black;
        z-index: 2;

        h2 {
            margin: 20px 0;
            font-size: 1.3em;
        }

        a.close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .content {
            font-family: "Roboto";
            padding-bottom: 15px;

            p {
                text-align: center;
            }
            .actions {
                display: flex;
                justify-content: center;

                a {
                    display: block;
                    border: 1px solid black;
                    padding: 5px 20px;
                    font-size: 1.3em;
                    background: variables.$backgroundColor;

                    margin-right: 25px;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &.amount {
        .actions {
            margin-top: 20px;
        }
        .reason {
            display: none;
            flex-direction: column;
            padding: 0 15px;
            margin-top: 20px;

            label {
                font-weight: bold;
                margin-bottom: 5px;
                text-align: center;
            }
            input {
                font-size: 1.2em;
                text-align: center;
            }
        }
        &.ask-reason .reason {
            display: flex;
        }

        .input {
            display: flex;
            height: 80px;
            justify-content: center;

            .increase,
            .decrease {
                font-size: 3rem;
                line-height: 80px;
                align-items: center;
                display: flex;
                width: 80px;
                background: #cccccc;
                margin: 0 10px;
                justify-content: center;
                cursor: pointer;
                user-select: none;
            }
            input {
                width: 70px;
                text-align: center;
                font-size: 3em;
            }
        }
    }

    &.str {
        .str {
            padding: 20px;

            input {
                width: 100%;
                height: 25px;
                font-size: 1.1em;
            }
        }
    }

    &.notes .content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        textarea {
            height: 300px;
            font-family: "medieval", serif;
            font-size: 1.2em;
            background-color: variables.$backgroundColor;
            border: 1px solid black;
        }

        .actions {
            margin-top: 10px;
        }
    }
}
