@use "variables";
@use "sass:color";

menu {
    position: fixed;
    z-index: 100;
    background-color: color.adjust($color: variables.$backgroundColor, $lightness: 10%);
    width: 300px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    color: black;

    ul {
        padding: 0;
        list-style: none;
        line-height: 1.2;

        li {
            border-bottom: 1px dotted #555555;
            padding: 10px;
            cursor: pointer;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #c2ffaf;
            }
        }
    }
}
