@use "mixins";

@use "fiche-grid";
@use "skills";
@use "sass:color";
@use "variables";

.d20 {
    background: url("assets/d20.svg") no-repeat;
    background-size: contain;
    height: 100%;
    width: 30px;
    cursor: pointer;
}

h2,
h3 {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    padding: 2px 0;
}

section > h2 {
    background: #95493b;
    color: #d6c086;
    border: 3px solid #d6c086;
    margin-bottom: 5px;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b0a896;
}

.num {
    font-family: sans;
}

.fiche {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;

    position: relative;

    section.actions {
        position: absolute;
        top: 0;
        right: 0;

        a {
            border: 1px solid black;
            background: color.adjust(variables.$backgroundColor, $lightness: -30%);
            font-size: 0.8em;
            padding: 3px 8px;
            cursor: pointer;

            &:hover {
                background: color.adjust(variables.$backgroundColor, $lightness: -20%);
            }
        }
    }

    section.meta {
        display: flex;
        width: 100%;

        .left {
            flex: 1;
            display: flex;

            .logo {
                background-image: url("assets/pathfinder.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                display: flex;
                flex: 1;

                span {
                    text-align: center;
                    width: 100%;
                    align-self: flex-end;
                    height: auto;
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-bottom: 15px;
                }
            }
        }

        .right {
            flex: 2;
            margin-top: 20px;
        }
    }

    .field-line {
        display: flex;
        margin-bottom: 10px;
        > * {
            flex: 10;
        }
    }

    .field {
        margin-right: 15px;
        margin-left: 15px;
        min-width: 0;
        display: flex;
        flex-direction: column-reverse;

        .value {
            font-weight: 600;
            border-bottom: 1px solid #a19887;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;

            display: flex;
            justify-content: center;

            &.mod {
                color: #95493b;
                cursor: pointer;
            }
        }

        .label {
            font-size: 0.7em;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            font-style: italic;
        }

        &.l {
            flex: 20;
        }
        &.s {
            flex: 5;
        }
        &.xs {
            flex: 2;
            .label {
                text-align: center;
            }
        }
        &.xxs {
            flex: 1;
            min-width: 40px;
        }

        &:has(+ .m-s) {
            margin-right: 0;
        }

        &.m-s // Margin small
        {
            margin-left: 5px;
        }
    }

    section.caracteristics {
        display: flex;
        flex-direction: column;
        .carac {
            display: grid;
            grid-template-columns: 4fr 1fr 2fr;
            gap: 5px;
            margin-bottom: 5px;
            div {
                padding: 3px;
                flex: 1;
                border: 3px solid #b8ae98;
                background: #d7caaf;

                display: flex;
                justify-content: center;
                align-items: center;

                &.label {
                    flex: 3;
                    @include mixins.red-label();
                    font-size: 1em;
                }

                &.value {
                    font-size: 0.8em;
                }
                &.mod {
                    @include mixins.mod-box;
                    cursor: pointer;
                }
            }
        }
    }

    section.hp,
    section.armor,
    section.saving {
        display: grid;
        gap: 5px;
    }
    section.hp > div,
    section.saving > div,
    section.fight > div,
    section.speed > section,
    section.initiative > section,
    section.contact,
    section.surprise,
    section.ac {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 5px;

        .label {
            @include mixins.red-label();
            flex: 1 1 0;
        }

        .value {
            display: flex;
            flex: 1 1 0;

            div span {
                display: inline;
                flex: 0;
            }

            div.max {
                margin-left: 5px;
                flex: 1;
                @include mixins.box(25px);
            }
            div.current {
                @include mixins.mod-box(25px);
                margin-right: 5px;
                flex: 1;
            }
            div.separator {
                display: flex;
                align-items: center;
            }
        }
    }

    section.hp div.non-lethal {
        margin-top: 5px;

        .label {
            @include mixins.box;
            font-size: 0.7em;
            font-weight: normal;
            text-align: center;
        }
    }

    section.initiative,
    section.speed,
    section.contact,
    section.surprise,
    section.saving div,
    section.fight > div,
    section.ac {
        .value {
            @include mixins.mod-box(20px);
            width: 100%;

            .mod {
                cursor: pointer;
            }
        }
    }

    section.fight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        h2 {
            margin-top: 20px;
            margin-bottom: 0;
            grid-row: 1;
            grid-column: 1/4;
        }
        > div {
            grid-row: 2;
            grid-template-columns: 70px 1fr;

            .label {
                text-align: center;
                font-size: 0.7em;
            }
        }

        section.weapons {
            grid-column: 1/4;
            grid-row: 3;
            display: grid;
            grid-template-columns: 1fr;
            h2 {
                margin-bottom: 10px;
            }

            .weapon {
                border: 3px solid #d6c086;
                background-color: #b8ae98;
                padding: 5px;

                h3 {
                    border-color: color.adjust($color: #b8ae98, $lightness: -20%);
                }
            }
        }
    }

    section.skills .skill {
        @include skills.skill;
    }

    div.skill:hover,
    div.label:hover {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        padding: 0;

        .actions-hover {
            grid-column: 1;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1px);

            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 5px;

            a {
                display: block;
                border: 1px solid black;
                padding: 2px;
                background: white;
                line-height: 10px;
                cursor: pointer;

                position: relative;

                menu {
                    position: absolute;
                    left: -7px;
                    background-color: color.adjust($color: variables.$backgroundColor, $lightness: 10%);
                    width: 300px;
                    padding: 0;
                    margin-top: 10px;
                    margin-bottom: 0;
                    font-weight: normal;
                    font-size: 1rem;

                    ul {
                        padding: 0;
                        list-style: none;
                        line-height: 1.2;

                        li {
                            border-bottom: 1px dotted #555555;
                            padding: 10px;

                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                background-color: #c2ffaf;
                            }
                        }
                    }
                }
            }
        }
    }

    .actions-hover {
        display: none;
    }
}
