@use "mixins";

@use "fiche-grid";
@use "skills";
@use "sass:color";
@use "variables";

.d20 {
    background: url("assets/d20.svg") no-repeat;
    background-size: contain;
    height: 100%;
    width: 30px;
    cursor: pointer;
}

h2,
h3 {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    padding: 2px 0;
}

section > h2 {
    background: variables.$redColor;
    color: #d6c086;
    border: 3px solid #d6c086;
    margin-bottom: 5px;

    small {
        font-size: 0.6em;
    }
}

h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b0a896;
}

.num {
    font-family: "Roboto";
}

.fiche,
.campaign {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;

    position: relative;

    display: flex;
    flex-direction: column;

    section.actions {
        position: absolute;
        top: 0;
        right: 0;

        a {
            border: 1px solid black;
            background: color.adjust(variables.$backgroundColor, $lightness: -30%);
            font-size: 0.8em;
            padding: 3px 8px;
            cursor: pointer;

            &:hover {
                background: color.adjust(variables.$backgroundColor, $lightness: -20%);
            }
        }

        .see-temp-mods .count {
            margin-right: 5px;
            color: black;
            background-color: #dda686;
            font-size: 0.8em;
            padding: 3px 7px;
            border-radius: 50%;

            &:empty {
                display: none;
            }
        }
        .see-temp-mods:has(.count:empty) {
            background-color: #b9b9b9;
        }
    }

    section.meta {
        display: flex;
        width: 100%;

        .left {
            flex: 1;
            display: flex;

            .logo {
                background-image: url("assets/pathfinder.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                display: flex;
                flex: 1;

                span {
                    text-align: center;
                    width: 100%;
                    align-self: flex-end;
                    height: auto;
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-bottom: 15px;
                }
            }
        }

        .right {
            flex: 2;
            margin-top: 20px;
        }
    }

    .field-line {
        display: flex;
        margin-bottom: 10px;
        > * {
            flex: 10;
        }
    }

    .field {
        margin-right: 10px;
        margin-left: 10px;
        min-width: 0;
        display: flex;
        flex-direction: column-reverse;

        .value {
            font-weight: 600;
            border-bottom: 1px solid #a19887;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;

            display: flex;
            justify-content: center;

            &.mod {
                color: variables.$redColor;
                cursor: pointer;
            }
        }

        .label {
            font-size: 0.7em;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            font-style: italic;
        }

        &.l {
            flex: 20;
        }
        &.s {
            flex: 5;
        }
        &.xs {
            flex: 2;
            .label {
                text-align: center;
                font-size: 0.6em;
            }
        }
        &.xxs {
            flex: 1;
            min-width: 40px;
        }

        &:has(+ .m-s) {
            margin-right: 0;
        }

        &.m-s // Margin small
        {
            margin-left: 5px;
        }
    }

    section.caracteristics {
        display: flex;
        flex-direction: column;
        .carac {
            display: grid;
            grid-template-columns: 4fr 1fr 2fr;
            gap: 5px;
            margin-bottom: 5px;
            > div {
                padding: 3px;
                flex: 1;
                border: 3px solid #b8ae98;
                background: #d7caaf;

                display: flex;
                justify-content: center;
                align-items: center;

                &.label {
                    flex: 3;
                    @include mixins.red-label();
                    font-size: 1em;

                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 5px;

                    .text {
                        grid-column: 2;
                    }
                }

                &.value {
                    font-size: 0.8em;
                }
                &.mod {
                    @include mixins.mod-box;
                    cursor: pointer;
                }
            }
        }
    }

    section.hp,
    section.armor,
    section.saving {
        display: grid;
        gap: 5px;
    }
    section.hp > div,
    section.saving > div,
    section.fight > div,
    section.speed > section,
    section.initiative > section,
    section.contact,
    section.surprise,
    section.ac {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 5px;

        .label {
            @include mixins.red-label();
            flex: 1 1 0;
            text-align: center;
        }

        .value {
            display: flex;
            flex: 1 1 0;

            div span {
                display: inline;
                flex: 0;
            }

            div.max {
                margin-left: 5px;
                font-family: "Roboto";
                flex: 1;
                @include mixins.box(25px);
            }
            div.current {
                @include mixins.mod-box(25px);
                margin-right: 5px;
                flex: 1;
            }
            div.separator {
                display: flex;
                align-items: center;
            }
        }
    }

    section.armorlist > div {
        display: grid;
        grid-template-columns: 1fr 100px;
        gap: 5px;

        .name {
            @include mixins.box;
        }
        .ca {
            @include mixins.mod-box;
            font-size: 0.9em;
        }
    }

    section.hp div.non-lethal {
        margin-top: 5px;

        .label {
            @include mixins.box;
            font-size: 0.7em;
            font-weight: normal;
            text-align: center;
        }
    }

    section.initiative,
    section.speed,
    section.contact,
    section.surprise,
    section.saving div,
    section.fight > div,
    section.ac {
        .value {
            @include mixins.mod-box(20px);
            width: 100%;

            .mod {
                cursor: pointer;
            }
        }
    }

    section.fight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 10px;

        h2 {
            margin-bottom: 0;
            grid-row: 1;
            grid-column: 1/4;
        }
        > div {
            grid-row: 2;
            grid-template-columns: 70px 1fr;

            .label {
                text-align: center;
                font-size: 0.7em;
            }
        }

        section.weapons {
            grid-column: 1/4;
            grid-row: 3;

            display: flex;
            flex-direction: column;
            h2 {
                margin-bottom: 10px;
            }

            .weapon {
                border: 3px solid #d6c086;
                background-color: #b8ae98;
                padding: 5px;

                h3 {
                    border-color: color.adjust($color: #b8ae98, $lightness: -20%);
                }

                .field .value.mod.num {
                    display: grid;
                    grid-template-columns: 30px 1fr;

                    .roll,
                    .mod {
                        display: flex;
                        justify-content: center;
                        grid-column: 2;
                    }

                    .actions-hover {
                        grid-column: 1;
                        color: black;
                    }
                }
            }
        }
    }

    section.skills .skill {
        @include skills.skill;
    }

    div.skill:hover,
    div.skill.active,
    section.money > div:hover,
    section.money > div.active,
    div.label:has(.actions-hover):hover,
    div.label.active,
    div.value:has(.actions-hover):hover,
    div.value.active {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 0;
        position: relative;

        menu {
            position: absolute;
            left: 0px;
            top: 15px;
            background-color: color.adjust($color: variables.$backgroundColor, $lightness: 10%);
            width: 300px;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 0;
            font-weight: normal;
            font-size: 1rem;

            ul {
                padding: 0;
                list-style: none;
                line-height: 1.2;

                li {
                    border-bottom: 1px dotted #555555;
                    padding: 10px;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: #c2ffaf;
                    }
                }
            }
        }

        .actions-hover {
            grid-column: 1;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1px);

            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 3px;

            a {
                display: block;
                border: 1px solid black;
                padding: 2px;
                background: white;
                line-height: 10px;
                cursor: pointer;

                position: relative;
            }
        }
    }

    section.money > div {
        @include mixins.box;
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
        display: grid;

        &:hover,
        &.active {
            padding: 1px;
            grid-template-columns: 27px 1fr;
        }

        .text {
            grid-column: 2;
            display: flex;
            justify-content: center;
        }
        .value {
            margin-right: 5px;
            font-family: "Roboto";
            font-size: 1.1em;
        }
    }

    .field div.value:hover,
    .field div.value.active {
        overflow: visible;
        grid-template-columns: 1fr auto;
        .actions-hover {
            padding: 0;
            grid-column: 2;
            background: none;

            menu {
                top: 0px;
                left: 0px;
            }
        }
    }

    .actions-hover {
        display: none;
    }

    section.notes,
    section.inventory {
        h2 {
            position: relative;

            a {
                position: absolute;
                right: 5px;
                top: 5px;
                color: #c0aa78;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }

        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul li,
        .add-new {
            border: 3px solid variables.$redColor;
            background: color.adjust($color: variables.$backgroundColor, $lightness: -10%);
            padding: 10px;
            cursor: pointer;
        }

        .add-new {
            margin-top: 15px;
            text-align: center;
            font-weight: bold;

            &:hover {
                background: color.adjust($color: variables.$backgroundColor, $lightness: -5%);
            }
        }

        ul li {
            background: color.adjust($color: variables.$backgroundColor, $lightness: 5%);
            margin-bottom: 5px;
            position: relative;
            font-family: serif;

            .date {
                font-family: "Roboto";
                position: absolute;
                font-size: 0.8em;
                color: #555555;
                font-weight: normal;
                font-style: italic;
                right: 5px;
                top: 5px;
            }
        }
    }

    section.inventory {
        ul li {
            display: grid;
            background: none;
            border: none;
            grid-template-columns: 75px 1fr 30px;
            gap: 5px;
            cursor: auto;
            padding: 0;

            > div,
            > a {
                background: color.adjust($color: variables.$backgroundColor, $lightness: 5%);
                border: 3px solid #b8ae98;
                padding: 5px 10px;
                &.qty {
                    text-align: center;

                    a {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
                &.name {
                    cursor: pointer;
                }
            }
            a.delete {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #909090;
                cursor: pointer;
            }
        }
    }

    .mod.temp-mod,
    .value.temp-mod {
        background-color: rgb(150, 255, 138) !important;

        &.negative {
            background-color: rgb(255, 138, 138) !important;
        }
    }
}
