.fiche {
    border: 1px solid black;
    width: 100%;
    height: 100%;

    section.meta {
        display: flex;

        .left {
            flex: 1;
            display: flex;

            .logo {
                background-image: url("assets/pathfinder.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                display: flex;
                flex: 1;

                span {
                    text-align: center;
                    width: 100%;
                    align-self: flex-end;
                    height: auto;
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }

        .right {
            flex: 2;
            margin-top: 20px;
        }
    }

    .field-line {
        display: flex;
        margin-bottom: 10px;
        > * {
            flex: 10;
        }
    }

    .field {
        margin-right: 15px;
        margin-left: 15px;
        min-width: 0;
        display: flex;
        flex-direction: column-reverse;

        .value {
            font-weight: 600;
            border-bottom: 1px solid #a19887;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

        .label {
            font-size: 0.8em;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
        }

        &.l {
            flex: 20;
        }
        &.s {
            flex: 5;
        }
        &.xs {
            flex: 2;
            .label {
                text-align: center;
            }
        }
        &.xxs {
            flex: 1;
            min-width: 40px;
        }

        &:has(+ .m-s) {
            margin-right: 0;
        }

        &.m-s // Margin small
        {
            margin-left: 5px;
        }
    }
}
