.fiche {
    display: grid;
    grid-gap: 5px 20px;
    grid-auto-rows: 40px;
    grid-template-columns: 2fr 2fr 3fr;
}

section.meta {
    grid-column: 1/4;
    grid-row: 1/4;
}
section.caracteristics {
    grid-column: 1;
    grid-row: 5/12;
}
section.hp {
    grid-column: 2;
    grid-row: 5;
}
section.speed {
    grid-column: 2;
    grid-row: 8/10;
}
section.initiative {
    grid-column: 2;
    grid-row: 10/12;
}
section.saving {
    grid-column: 2;
    grid-row: 12/16;
}
section.armor {
    grid-column: 1;
    grid-row: 12;
}
section.fight {
    grid-column: 1/3;
    grid-row: 16;
}
section.skills {
    grid-column: 3;
    grid-row: 5/27;
}
