@use "fiche";
@use "fonts";
@use "dice/d20";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #e1d5bb;
  font-family: "medieval", serif;
}
