@use "alert";

.popup {
    .main {
        position: fixed;
        top: 10%;
        height: 80%;
        width: 80%;
        left: 10%;
        background: white;
        border: 2px solid black;
        z-index: 2;

        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        h2 {
            margin: 20px 0;
            font-size: 1.3em;
        }

        a.close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .content {
            font-family: sans-serif;
            overflow: auto;
            flex: 1;

            ul {
                margin: 0;
            }

            .del {
                cursor: pointer;
            }

            &.temp-modifiers .del {
                font-size: 0.8em;
                font-style: italic;
            }

            &.temp-modifiers ul.empty {
                padding: 0;
            }

            &.event-history ul {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    .backdrop {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
}
