@use "sass:color";
@use "variables";
@use "mixins";

@mixin skill {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    gap: 5px;
    margin-bottom: 2px;
    border-bottom: 1px solid #b0a896;

    &:hover,
    &.active {
        background: color.adjust($color: variables.$backgroundColor, $lightness: -3%);
        grid-template-columns: auto 1fr 30px 30px;

        .actions-hover {
            padding: 0 5px;
        }

        .skill-mod {
            display: block;
            &:empty {
                display: none;
            }
        }
    }

    .label {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    .mod {
        @include mixins.mod-box;
        font-size: 1rem;
        padding: 0;
        cursor: pointer;
    }
    .skill-mod {
        @include mixins.box;
        display: none;
        position: absolute;
        top: 0;
        right: 70px;
        background: rgb(168, 255, 160);
    }
    .ranks {
        @include mixins.box;
        font-family: sans;
        font-size: 0.8rem;
        padding: 0;
    }

    &.class-skill .label ins {
        color: #555555;
        text-decoration: none;
        border-bottom: 2px dotted #555555;
        margin-left: 3px;
        cursor: help;
    }

    &:has(.mod:empty) {
        .label {
            color: #7a7a7a;
        }
        .mod,
        .ranks {
            display: none;
        }
        height: 25px;
    }
}
