@use 'variables' as *;
@use 'd20';
@use 'd8';
@use 'd10';
@use 'd6';

body.rolling {
    overflow: hidden;

    > .backdrop {
        transition: all 1s;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 299;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);

        &.critical-success {
            background: rgba(14, 67, 0, 0.6);
        }
        &.critical-fail {
            background: rgba(67, 0, 0, 0.6);
        }
    }

    .dice-tray {
        display: flex;
        font-family: "Roboto";
    }
}

.dice-tray {
    display: none;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        color: white;
        font-size: 3em;
        margin-top: 40px;

        transition: all 1s;
        opacity: 0;
    }
    &.reveal h3 {
        opacity: 1;
    }

    p.d3 {
        display: none;
        color: #bbb;
        font-style: italic;
    }
    &.reveal.d3 p.d3 {
        display: block;
    }

    h3.critical {
        display: none;
    }

    &.critical-fail h3.critical-fail {
        display: block;
        color: #ff0000;
    }
    &.critical-success h3.critical-success {
        display: block;
        color: #80ff00;
    }

    p.roll-note {
        margin-top: 8px;
        font-size: 0.85em;
        font-style: italic;
        color: #aaa;
    }
}

@keyframes roll {
    10% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    90% {
        transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg);
    }
}

.dice-container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1500px;

    > div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform $transitionDuration ease-out;

        transform: rotateX($rotateX);

        &.rolling {
            animation: roll $animationDuration linear;
        }

        .face {
            $horizontalMargin: -$faceWidth * 0.5;

            position: absolute;
            left: 50%;
            top: 0;
            margin: 0 $horizontalMargin;
            border-left: $faceWidth * 0.5 solid transparent;
            border-right: $faceWidth * 0.5 solid transparent;
            border-bottom: $faceHeight solid $color;
            width: 0px;
            height: 0px;
            transform-style: preserve-3d;
            backface-visibility: hidden;

            counter-increment: steps 1;

            &:before {
                content: counter(steps);
                position: absolute;
                top: $faceHeight * 0.25;
                left: -$faceWidth;
                color: #fff;
                text-shadow: 1px 1px 3px #000;
                font-size: $faceHeight * 0.4;
                text-align: center;
                line-height: $faceHeight * 0.9;
                width: $faceWidth * 2;
                height: $faceHeight;
            }
        }
    }
}
